<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width">
<base href="http://artgbi.ru/">
<title>Железобетонные изделия ЖБИ – производство и продажа от завода с доставкой по низким ценам в Москве и Туле.</title>
<meta name="keywords" content="" />
<meta name="description" content="Производство и продажа железобетонных изделий ЖБИ от завода с доставкой. Купить железобетон по доступной цене с гарантией качества в Москве и Туле оптом и в розницу ." />
<meta name='yandex-verification' content='728ac07032b0f150' />
<link href="/themes/css/style.css" rel="stylesheet" type="text/css" />
<link rel="icon" href="/favicon.ico" type="image/x-icon"/>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>

<script type="text/javascript" src="/themes/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/themes/js/jquery.nivo.slider.pack.js"></script>
<script type="text/javascript" src="/themes/js/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="/themes/js/more_script.js"></script>
<script type="text/javascript" src="themes/fancybox2/source/jquery.easing-1.3.pack.js"></script>
<link rel="stylesheet" href="/themes/fancybox2/source/jquery.fancybox.css" type="text/css" media="screen" />
<script type="text/javascript" src="themes/fancybox2/source/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="themes/js/fancybox.transitions.js"></script>
<script type="text/javascript" src="themes/js/jcarousellite_1.0.1.min.js"></script>


	<script type="text/javascript">
		if (typeof mse2Config == "undefined") {mse2Config = {"cssUrl":"\/assets\/components\/msearch2\/css\/web\/","jsUrl":"\/assets\/components\/msearch2\/js\/web\/","actionUrl":"\/assets\/components\/msearch2\/action.php"};}
		if (typeof mse2FormConfig == "undefined") {mse2FormConfig = {};}
		mse2FormConfig["afa9cd8eea45ef5da7c129a2b26ba34ed61f9bf8"] = {"autocomplete":"results","queryVar":"query","minQuery":3,"pageId":76};
	</script>
</head>
<body>
<div class="site_back">
	<div class="wrap">
		<header>
		    
			<div id="header-podlozh">
                <a id="logo"></a>
                <div id="search" >
                    <form data-key="afa9cd8eea45ef5da7c129a2b26ba34ed61f9bf8" action="rezultatyi-poiska" method="get" class="well msearch2" id="mse2_form">
	<div class="row">
		<div class="form-group col-md-10">
			<input type="text" id="search_small" class="form-control" name="query" placeholder="Поиск на сайте" value="" />
		</div>
		<button type="submit" class="btn btn-default top_search_but">
			<i class="glyphicon glyphicon-search"></i> 
		</button>
	</div>
</form>
                </div>
                <div class="phone-blc">
                    
                </div>
            </div>     
        </header>
<div class="slider_block">
    <div class="button1">
        <a class="napisat-pismo open_modal">Оставить заявку</a>
        <script type="text/javascript" src="/themes/js/custom_main.js"></script>
        <div class="overlay"></div>
        <div class="popupfr">
            <div class="close_modal">x</div>
            <form id="myform" class="fofm myform form" action="" method="get">
                <h5></h5>
                <div class="myform name">
                    <input class="myform" id="name" type="text" required="" placeholder="Имя*" name="txtname">
                    <div class="error-box"></div>
                </div>
                <div class="myform myphone">
                    <input id="phone" type="phone" class="myform" required="" placeholder="Телефон*" name="txtphone">
                    <div class="error-box"></div>
                </div>
                <div class="myform email">
                    <input class="myform" id="email" type="email" placeholder="Email" name="txtemail">
                    <div class="error-box"></div>
                </div>
                <input type="hidden" name="valTrFal" class="valTrFal" value="valTrFal_true">
                <p style="font-size:16px; text-indent: 0;">Ваше сообщение:</p>
                <div class="myform message">
                    <textarea class="myform" id="message" name="message" style="text-indent: 0; width:325px; height:100px; padding:10px; margin-top:0"></textarea>
                    <div class="error-box"></div>
                </div>
                <div class="politic-conf">
                    <input type="checkbox" name="conf" checked>
                    <label for="conf">Я даю согласие на обработку своих персональных данных в соответствии с
                        <a href="http://artgbi.ru/assets/docs/ПОЛОЖЕНИЕ ПО ОБРАБОТКЕ И ЗАЩИТЕ ПЕРСОНАЛЬНЫХ ДАННЫХ.docx" target="_blank">политикой конфиденциальности</a>
                    </label>
                </div>
                <p style="text-indent:0">Поля, помеченные звёздочкой, обязательны для заполнения.</p>
                <input type="submit" class="button" value="Отправить" name="btnsend">
            </form>
        </div>
        <div class="popupfr2">
            <div class="close_modal">x</div>
            <div class="window">
                <div class="insText">
                    <h5>Сообщение отправлено</h5>
                    <p>
                        <strong>Ваше сообщение отправлено.</strong>Мы свяжемся с вами в ближайшее время!</p>
                </div>
            </div>
        </div>
    </div>


    <div class="button2">
        <a class="subscribe open_modalsub">Подписаться на акции
            <br /> и новости</a>
    </div>
    <script type="text/javascript" src="/themes/js/customsub.js"></script>
    <div class="popupfrsub">
        <div class="close_modal">x</div>
        <form id="myform" class="fofmsub myform form" action="" method="get">
            <h5>Подписаться на акции
                <br />и новости</h5>
            <div class="myform name">
                <input class="myform" id="name" type="text" required="" placeholder="Ваше имя:" name="name">
                <div class="error-box"></div>
            </div>
            <div class="myform email">
                <input class="myform" id="email" type="email" placeholder="E-mail*:" name="email">
                <div class="error-box"></div>
            </div>
            <div class="politic-conf">
                <input type="checkbox" name="conf-stock" checked>
                <label for="conf-stock">Я даю согласие на обработку своих персональных данных в соответствии с 
                    <a href="http://artgbi.ru/assets/docs/ПОЛОЖЕНИЕ ПО ОБРАБОТКЕ И ЗАЩИТЕ ПЕРСОНАЛЬНЫХ ДАННЫХ.docx" target="_blank">политикой конфиденциальности</a>
                </label>
            </div>
            <input type="hidden" name="valTrFal" class="valTrFal" value="valTrFal_true">
            <p style="text-indent:0;    margin: 0px 0 20px 0; color: #58595b; font-size: 12px;">
                <span style="color:#426ab3">*</span>обязательное поле для заполнения</p>
            <input type="submit" class="button" value="Подписаться" name="btnsend">
        </form>
    </div>


    <div class="slider_wrap">
        <div id="slider" class="nivoSlider">
            <img src="/themes/images/slider/slide1.jpg" alt="" />
            <img src="/themes/images/slider/slide4.jpg" alt="" />
            <img src="/themes/images/slider/slide5.jpg" alt="" />
        </div>
    </div>
</div>
<script type="text/javascript">
$(window).scroll(function() {
   if($(window).scrollTop() >= 320) {  
    $('#header_block').addClass('header_block_fix');   
    $('#fix-padding').css( "padding-bottom", "55px" );
    $('#fixed-menu-logo').fadeIn(10);3
    $('#fixed-menu-phone').fadeIn(10);
   } else {
    $('#fixed-menu-phone').fadeOut(0);
    $('#fixed-menu-logo').fadeOut(0);
    $('#fix-padding').css( "padding-bottom", "0" );
    $('#header_block').removeClass('header_block_fix');
   }
  });
</script>
<div class="clear"></div>
<div id="fix-padding"></div>
<div class="clear"></div>
<div id="header_block">
    <div id="main-menu-vn">
        <div id="fixed-menu-logo"></div>
            <ul><li class="first active"><a href="http://artgbi.ru/" title="Главная" >Главная</a></li>
<li><a href="about" title="О компании" >О компании</a></li>
<li><a href="katalog" title="Каталог железобетонных изделий" >Каталог</a></li>
<li><a href="dostavka" title="Доставка" >Доставка</a></li>
<li><a href="akcii" title="Акции и спецпредложения" >Акции</a></li>
<li><a href="informacija" title="Информация" >Информация</a></li>
<li><a href="nashi-otgruzki" title="Наши новости" >Новости</a></li>
<li class="last"><a href="kontakty" title="Контакты" >Контакты</a></li>
</ul>
        <div id="fixed-menu-phone">
            <div class="phone_tula" style="float: left; color: #f58223;">
                <span style="font-size: 14px;">+7 (4872) 71-11-73</span>
            </div>
            <div class="phone_mosk" style="float: left;">
                <span style="font-size: 14px;">+7 (495) 789-39-23</span>
            </div>
            <div class="phone_klg" style="float: left;">
                <span style="font-size: 14px;">+7 (4842) 92-24-29</span>
            </div>
            <div class="phone_krasnodar" style="float: left;">
                <span style="font-size: 14px;">+7 (861) 205-45-09</span>
            </div>
            <div class="phone_peter" style="float: left;">
                <span style="font-size: 14px;">+7 (812) 603-48-09</span>
            </div>
            <div class="phone_novosib" style="float: left;">
                <span style="font-size: 14px;">+7 (383) 388-55-74</span>
            </div>
            
            
            
            
            <div class="phone_other" style="float: left;">
                <span style="font-size: 14px;">8 800 550-73-09</span>
            </div>
            <br><small>ежедневно с 8.00 - 21.00</small>
        </div>
    </div>
</div>
<div class="clear"></div>
    <div class="agro-ban">
        <a href="nashi-otgruzki/mezhdunarodnaya-vystavka-agroprodmash-2018"><img src="/themes/img/banner/agro-prod-long-banner.jpg" alt="23-я международная выставка АГРОПРОДМАШ-2018"></a>    
    </div>
<style>
li .hvr-image {
    opacity:0;
}
li:HOVER .hvr-image {
    position: absolute; top: 0; left: 0; z-index: 0; opacity: 1;
    width: 250px; height: 128px;
}
</style>


<div id="main-prod-block">
    
    <div class="main-prod">
        <a href="katalog/vodootvedenie"><img src="/themes/img/Betonnye-lotki.png"></a>
        <div class="main-prod-vn">
            <a class="main-prod-title" href="katalog/vodootvedenie">Водоотведение</a>
            <ul class="prod-spisok">
                <li><a href="katalog/vodootvedenie/lotki-vodootvodnye-betonnye">Лотки водоотводные бетонные</a><div class="hvr-image" style="background: #fff url(themes/images/products/min/Betonnye-lotki.png) 0 0 no-repeat;"></div></li>
<li><a href="katalog/vodootvedenie/livnevye-reshetki">Ливневые решетки</a><div class="hvr-image" style="background: #fff url(themes/images/products/min/Livnevye-reshetki.png) 0 0 no-repeat;"></div></li>
<li><a href="katalog/vodootvedenie/peskouloviteli">Пескоуловители</a><div class="hvr-image" style="background: #fff url(themes/img/max/peskoulovitel_beton.jpg) 0 0 no-repeat;"></div></li>
<li><a href="katalog/vodootvedenie/dozhdepriemnye-kolodcy">Дождеприемные колодцы</a><div class="hvr-image" style="background: #fff url(themes/img/max/dogdepriemnik_betomax_razdel.jpg) 0 0 no-repeat;"></div></li>
<li><a href="katalog/vodootvedenie/korziny-dlja-peskoulovitelej">Корзины для пескоуловителей</a><div class="hvr-image" style="background: #fff url(themes/img/max/korzina_betomax_razdel.jpg) 0 0 no-repeat;"></div></li>
<li><a href="katalog/vodootvedenie/aksessuary">Аксессуары для лотков</a><div class="hvr-image" style="background: #fff url(themes/images/products/vodootvedenie/zaglushka.png) 0 0 no-repeat;"></div></li>
            </ul>
        </div>
    </div>
    
    <div class="main-prod">
        <a href="katalog/inzhenernoe-stroitelstvo"><img src="/img/main/inzhenernoe-stroitelstvo-kolca.jpg"></a>
        <div class="main-prod-vn">
            <a class="main-prod-title" href="katalog/inzhenernoe-stroitelstvo">Инженерное строительство</a>
            <ul class="prod-spisok">
                <li><a href="katalog/inzhenernoe-stroitelstvo/lotki-teplotrass">Лотки теплотрасс (Л)</a><div class="hvr-image" style="background: #fff url(themes/img/lotki-teplotrass.png) 0 0 no-repeat;"></div></li>
<li><a href="katalog/inzhenernoe-stroitelstvo/plity-dlja-lotkov-teplotrass">Плиты для лотков теплотрасс (П)</a><div class="hvr-image" style="background: #fff url(themes/images/inzhenernoe-stroitelstvo/plity-dlja-lotkov-teplotrass.png) 0 0 no-repeat;"></div></li>
<li><a href="katalog/inzhenernoe-stroitelstvo/lotki-kabelnye">Лотки кабельные (ЛК)</a><div class="hvr-image" style="background: #fff url(themes/img/lotki-kabelnie.png) 0 0 no-repeat;"></div></li>
<li><a href="katalog/inzhenernoe-stroitelstvo/plity-dlja-kabelnyh-lotkov">Плиты для кабельных лотков (ПТ)</a><div class="hvr-image" style="background: #fff url(themes/img/pliti-dlya-kabelnih-lotkov.png) 0 0 no-repeat;"></div></li>
<li><a href="katalog/inzhenernoe-stroitelstvo/elektrotehnicheskie-lotki-bk-ubk">Электротехнические лотки (БК, УБК)</a><div class="hvr-image" style="background: #fff url(themes/images/products/min/electrotehnicheskie-lotki1.jpg) 0 0 no-repeat;"></div></li>
<li><a href="katalog/inzhenernoe-stroitelstvo/kolca-i-kolodcy">Кольца и колодцы</a><div class="hvr-image" style="background: #fff url(themes/images/products/min/Koltsa-stenovye-bez-chetverti-KS.png) 0 0 no-repeat;"></div></li>
<li><a href="katalog/inzhenernoe-stroitelstvo/truby-zhelezobetonnye">Трубы железобетонные</a><div class="hvr-image" style="background: #fff url(themes/images/products/min/zhb-truby1.jpg) 0 0 no-repeat;"></div></li>
<li><a href="katalog/inzhenernoe-stroitelstvo/utyazheliteli-betonnye-ubo">Утяжелители бетонные (УБО)</a><div class="hvr-image" style="background: #fff url(themes/img/utverditeli-betonnie.png) 0 0 no-repeat;"></div></li>
<li><a href="katalog/inzhenernoe-stroitelstvo/stojki-opor-lehp">Стойки опор ЛЭП</a><div class="hvr-image" style="background: #fff url(img/inzhenernoe-stroitelstvo/stojki-opor-lehp/1.jpg) 0 0 no-repeat;"></div></li>
<li><a href="katalog/inzhenernoe-stroitelstvo/opornye-plity-op">Опорные плиты (ОП)</a><div class="hvr-image" style="background: #fff url(themes/images/products/min/opornye-plity1.jpg) 0 0 no-repeat;"></div></li>
<li><a href="katalog/inzhenernoe-stroitelstvo/fundamenty-pod-metallicheskie-opory-f">Фундаменты под металлические опоры (Ф)</a><div class="hvr-image" style="background: #fff url(themes/img/fundamet-pod-metal-opori.png) 0 0 no-repeat;"></div></li>
            </ul>
        </div>
    </div>
    <div class="main-prod">
        <a href="katalog/dorozhnoe-stroitelstvo-i-blagoustrojstvo"><img src="/themes/images/products/min/Plity-aerodromnye.png"></a>
        <div class="main-prod-vn">
            <a class="main-prod-title" href="katalog/dorozhnoe-stroitelstvo-i-blagoustrojstvo">Дорожное строительство и</br>благоустройство</a>
            <ul class="prod-spisok">
                <li><a href="katalog/dorozhnoe-stroitelstvo-i-blagoustrojstvo/trotuarnaya-plitka">Тротуарная плитка</a><div class="hvr-image" style="background: #fff url(themes/images/products/min/trotuarnaja-plitka.jpg) 0 0 no-repeat;"></div></li>
<li><a href="katalog/dorozhnoe-stroitelstvo-i-blagoustrojstvo/malye-arhitekturnye-formy">Малые архитектурные формы</a><div class="hvr-image" style="background: #fff url(themes/img/blagoustrojstvo/arhitekturnye-formy/cvetochnicy/c-3-1.jpg) 0 0 no-repeat;"></div></li>
<li><a href="katalog/dorozhnoe-stroitelstvo-i-blagoustrojstvo/reshetki-gazonnyie">Решетки газонные бетонные</a><div class="hvr-image" style="background: #fff url(themes/img/min/bl-gaz.jpg) 0 0 no-repeat;"></div></li>
<li><a href="katalog/dorozhnoe-stroitelstvo-i-blagoustrojstvo/bordjurnyj-kamen">Бордюрный камень (БР)</a><div class="hvr-image" style="background: #fff url(themes/images/products/min/Bordyurnyy-kamen1.png) 0 0 no-repeat;"></div></li>
<li><a href="katalog/dorozhnoe-stroitelstvo-i-blagoustrojstvo/bloki-upora-b">Блоки упора (Б)</a><div class="hvr-image" style="background: #fff url(themes/images/products/min/bloki-upora-2.jpg) 0 0 no-repeat;"></div></li>
<li><a href="katalog/dorozhnoe-stroitelstvo-i-blagoustrojstvo/lotki-mezhduputnye-i-kryshki">Лотки междупутные и крышки (МПЛ,Кр)</a><div class="hvr-image" style="background: #fff url(themes/images/products/min/Lotki-mezhputnye-i-kryshki.png) 0 0 no-repeat;"></div></li>
<li><a href="katalog/dorozhnoe-stroitelstvo-i-blagoustrojstvo/lotki-mezhdushpalnye">Лотки междушпальные (МШЛ)</a><div class="hvr-image" style="background: #fff url(themes/images/products/min/Lotki-mezhshpalnye.png) 0 0 no-repeat;"></div></li>
<li><a href="katalog/dorozhnoe-stroitelstvo-i-blagoustrojstvo/lotki-prikromochnye">Лотки прикромочные (Б)</a><div class="hvr-image" style="background: #fff url(themes/images/products/min/Lotki-prikromochnye.png) 0 0 no-repeat;"></div></li>
<li><a href="katalog/dorozhnoe-stroitelstvo-i-blagoustrojstvo/teleskopicheskie-lotki-lb">Телескопические лотки (ЛБ)</a><div class="hvr-image" style="background: #fff url(themes/images/products/min/Teleskopicheskie-lotki.png) 0 0 no-repeat;"></div></li>
<li><a href="katalog/dorozhnoe-stroitelstvo-i-blagoustrojstvo/plity-aehrodromnye">Плиты аэродромные (ПАГ)</a><div class="hvr-image" style="background: #fff url(themes/images/products/min/Plity-aerodromnye.png) 0 0 no-repeat;"></div></li>
<li><a href="katalog/dorozhnoe-stroitelstvo-i-blagoustrojstvo/plity-dorozhnye">Плиты дорожные (ПДН)</a><div class="hvr-image" style="background: #fff url(themes/images/products/min/plity-dorozhnye2-2.jpg) 0 0 no-repeat;"></div></li>
<li><a href="katalog/dorozhnoe-stroitelstvo-i-blagoustrojstvo/plity-ukreplenija-otkosov">Плиты укрепления откосов</a><div class="hvr-image" style="background: #fff url(img/dorozhnoe-stroitelstvo/plity-ukreplenija-otkosov/1.jpg) 0 0 no-repeat;"></div></li>
            </ul>
        </div>
    </div>
    <div class="main-prod">
        <a href="katalog/obshhegrazhdanskoe-i-promyshlennoe-stroitelstvo"><img src="/themes/images/products/min/Bloki-fundamenta.png"></a>
        <div class="main-prod-vn">
            <a class="main-prod-title" href="katalog/obshhegrazhdanskoe-i-promyshlennoe-stroitelstvo">Гражданское и<br />промышленное строительство</a>
            <ul class="prod-spisok">
                <li><a href="katalog/obshhegrazhdanskoe-i-promyshlennoe-stroitelstvo/elementy-lestnic-ls-lsn-lsv-lsp">Лестничные ступени</a><div class="hvr-image" style="background: #fff url(themes/images/products/min/stupeni.jpg) 0 0 no-repeat;"></div></li>
<li><a href="katalog/obshhegrazhdanskoe-i-promyshlennoe-stroitelstvo/lestnichnyie-marshi-i-ploshhadki">Лестничные марши и площадки</a><div class="hvr-image" style="background: #fff url(themes/img/min/Lestnichnye-marshi-s-ploshchadkoy.jpg) 0 0 no-repeat;"></div></li>
<li><a href="katalog/obshhegrazhdanskoe-i-promyshlennoe-stroitelstvo/plity-perekrytiya-pustotnye">Плиты перекрытия пустотные</a><div class="hvr-image" style="background: #fff url(themes/img/min/Plity-perekrytiya-pustotnye-1.jpg) 0 0 no-repeat;"></div></li>
<li><a href="katalog/obshhegrazhdanskoe-i-promyshlennoe-stroitelstvo/plity-perekrytiya-rebrestiy-p-pv-pg">Плиты перекрытия ребристые (П, ПВ, ПГ)</a><div class="hvr-image" style="background: #fff url(themes/img/min/Plity-perekrytiya-rebristye.jpg) 0 0 no-repeat;"></div></li>
<li><a href="katalog/obshhegrazhdanskoe-i-promyshlennoe-stroitelstvo/peremychki-pb-pp">Перемычки железобетонные (ПБ, ПП)</a><div class="hvr-image" style="background: #fff url(themes/images/products/min/Peremychki-zhelezobetonnye.png) 0 0 no-repeat;"></div></li>
<li><a href="katalog/obshhegrazhdanskoe-i-promyshlennoe-stroitelstvo/progony-prg">Прогоны (ПРГ)</a><div class="hvr-image" style="background: #fff url(themes/images/products/min/Progony.png) 0 0 no-repeat;"></div></li>
<li><a href="katalog/obshhegrazhdanskoe-i-promyshlennoe-stroitelstvo/rigeli-rv-rop-rdp-r">Ригели (РВ,РОП,РДП, Р)</a><div class="hvr-image" style="background: #fff url(themes/images/products/min/Rigeli-2.png) 0 0 no-repeat;"></div></li>
<li><a href="katalog/obshhegrazhdanskoe-i-promyshlennoe-stroitelstvo/balki-fundamentnye-fb">Балки фундаментные (ФБ)</a><div class="hvr-image" style="background: #fff url(themes/images/products/min/Balki-fundamentnye.png) 0 0 no-repeat;"></div></li>
<li><a href="katalog/obshhegrazhdanskoe-i-promyshlennoe-stroitelstvo/bloki-fundamenta-fbs">Блоки фундамента (ФБС)</a><div class="hvr-image" style="background: #fff url(themes/images/products/min/Bloki-fundamenta.png) 0 0 no-repeat;"></div></li>
<li><a href="katalog/obshhegrazhdanskoe-i-promyshlennoe-stroitelstvo/fundamenty-lentochnye">Фундаменты ленточные (ФЛ)</a><div class="hvr-image" style="background: #fff url(img/prom-stroitelstvo/lentochnyj-fundamnet/1.jpg) 0 0 no-repeat;"></div></li>
<li><a href="katalog/obshhegrazhdanskoe-i-promyshlennoe-stroitelstvo/svai-zhelezobetonnye-s">Сваи железобетонные (С)</a><div class="hvr-image" style="background: #fff url(themes/images/products/min/Svai-zhelezobetonnye-1.png) 0 0 no-repeat;"></div></li>
<li><a href="katalog/obshhegrazhdanskoe-i-promyshlennoe-stroitelstvo/zabor-zhelezobetonnyj">Забор железобетонный</a><div class="hvr-image" style="background: #fff url(themes/img/min/Zabor-zhelezobetonnyy-1.jpg) 0 0 no-repeat;"></div></li>
            </ul>
        </div>
    </div>
    
    <div class="main-prod">
        <a href="katalog/kirpich-i-bloki"><img src="/themes/images/products/min/Kirpich-ryadovoy-stroitelnyy-2.png"></a>
        <div class="main-prod-vn">
            <a class="main-prod-title" href="katalog/kirpich-i-bloki">Кирпич и блоки</a>
            <ul class="prod-spisok">
                <li><a href="katalog/kirpich-i-bloki/kirpich-ryadovoj-stroitelnyij">Кирпич рядовой строительный</a><div class="hvr-image" style="background: #fff url(themes/images/products/min/Kirpich-ryadovoy-stroitelnyy-2.png) 0 0 no-repeat;"></div></li>
<li><a href="katalog/kirpich-i-bloki/kirpich-obliczovochnyij">Кирпич облицовочный</a><div class="hvr-image" style="background: #fff url(themes/img/min/Kirpich-oblitsovochnyy3.jpg) 0 0 no-repeat;"></div></li>
<li><a href="katalog/kirpich-i-bloki/bloki-penobetonnyie-(penobloki)">Блоки пенобетонные (Пеноблоки)</a><div class="hvr-image" style="background: #fff url(themes/images/products/min/Bloki-penobetonnye.png) 0 0 no-repeat;"></div></li>
<li><a href="katalog/kirpich-i-bloki/bloki-gazosilikatnyie-(gazobeton)">Блоки газосиликатные (Газобетон)</a><div class="hvr-image" style="background: #fff url(themes/images/products/min/Bloki-gazosilikatnye-2.png) 0 0 no-repeat;"></div></li>
<li><a href="katalog/kirpich-i-bloki/bloki-keramicheskie-porizovannyie-krupnoformatnyie-(termoblok)">Блоки керамические поризованные крупноформатные (Термоблок)</a><div class="hvr-image" style="background: #fff url(themes/img/min/Bloki-keramicheskie-porizovannye-krupnoformatnye.jpg) 0 0 no-repeat;"></div></li>
<li><a href="katalog/kirpich-i-bloki/betonnyie-bloki">Бетонные блоки</a><div class="hvr-image" style="background: #fff url(themes/images/products/min/betonnye-bloki.jpg) 0 0 no-repeat;"></div></li>
<li><a href="katalog/kirpich-i-bloki/keramzitobetonnyie-bloki">Керамзитобетонные блоки</a><div class="hvr-image" style="background: #fff url(themes/images/products/min/Keramzitobetonnye-bloki-2.png) 0 0 no-repeat;"></div></li>
            </ul>
        </div>
    </div>
    <div class="main-prod">
        <a href="katalog/izdelija-iz-metalla"><img src="/themes/images/products/min/lotki_i_reshetki.jpg"></a>
        <div class="main-prod-vn">
            <a class="main-prod-title" href="katalog/izdelija-iz-metalla">Изделия из металла</a>
            <ul class="prod-spisok">
                <li><a href="katalog/izdelija-iz-metalla/lotki-iz-nerzhavejushhej-stali">Лотки из нержавеющей стали</a><div class="hvr-image" style="background: #fff url(img/izdelija-iz-metalla/standartnyj-lotok-nerzhavejushhij/1.jpg) 0 0 no-repeat;"></div></li>
<li><a href="katalog/izdelija-iz-metalla/reshetki-dlya-lotkov-iz-nerzhaveyushhej-stali">Решётки для лотков из нержавеющей стали</a><div class="hvr-image" style="background: #fff url(themes/img/min/reshetka_2.jpg) 0 0 no-repeat;"></div></li>
<li><a href="katalog/izdelija-iz-metalla/trapy-iz-nerzhaveyushhej-stali">Трапы из нержавеющей стали</a><div class="hvr-image" style="background: #fff url(themes/img/min/trap_3.jpg) 0 0 no-repeat;"></div></li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
    <span class="blag-title">Благоустройство</span>
    <div class="main-prod">
        <a href="katalog/dorozhnoe-stroitelstvo-i-blagoustrojstvo/trotuarnaya-plitka"><img src="/themes/img/min/bl-trot.jpg"></a>
        <div class="main-prod-vn">
            <a class="main-prod-title" href="katalog/dorozhnoe-stroitelstvo-i-blagoustrojstvo/trotuarnaya-plitka">Тротуарная плитка</a>
        </div>
    </div>
    <div class="main-prod">
        <a href="katalog/dorozhnoe-stroitelstvo-i-blagoustrojstvo/malye-arhitekturnye-formy"><img src="/themes/img/min/bl-arh.jpg"></a>
        <div class="main-prod-vn">
            <a class="main-prod-title" href="katalog/dorozhnoe-stroitelstvo-i-blagoustrojstvo/malye-arhitekturnye-formy">Малые архитектурные формы</a>
            <ul class="prod-spisok">
                <li><a href="katalog/dorozhnoe-stroitelstvo-i-blagoustrojstvo/malye-arhitekturnye-formy/dekorativnye-stolbiki">Декоративные столбики</a><div class="hvr-image" style="background: #fff url(themes/img/blagoustrojstvo/arhitekturnye-formy/betonnye-stolbiki/sd.jpg) 0 0 no-repeat;"></div></li>
<li><a href="katalog/dorozhnoe-stroitelstvo-i-blagoustrojstvo/malye-arhitekturnye-formy/cvetochnicy">Цветочницы</a><div class="hvr-image" style="background: #fff url(themes/img/blagoustrojstvo/arhitekturnye-formy/cvetochnicy/c-3-1.jpg) 0 0 no-repeat;"></div></li>
<li><a href="katalog/dorozhnoe-stroitelstvo-i-blagoustrojstvo/malye-arhitekturnye-formy/skami">Скамьи</a><div class="hvr-image" style="background: #fff url(themes/img/blagoustrojstvo/arhitekturnye-formy/skamy-betonye/c-3.jpg) 0 0 no-repeat;"></div></li>
<li><a href="katalog/dorozhnoe-stroitelstvo-i-blagoustrojstvo/malye-arhitekturnye-formy/urny">Урны</a><div class="hvr-image" style="background: #fff url(themes/img/blagoustrojstvo/arhitekturnye-formy/urni-betonnie/u-1.jpg) 0 0 no-repeat;"></div></li>
<li><a href="katalog/dorozhnoe-stroitelstvo-i-blagoustrojstvo/malye-arhitekturnye-formy/dekorativnye-elementy">Декоративные элементы</a><div class="hvr-image" style="background: #fff url(themes/img/blagoustrojstvo/arhitekturnye-formy/dekoratyvnie-elementy/psh-40-20.jpg) 0 0 no-repeat;"></div></li>
            </ul>
        </div>
    </div>
    <div class="main-prod">
        <a href="katalog/dorozhnoe-stroitelstvo-i-blagoustrojstvo/reshetki-gazonnyie"><img src="/themes/img/min/bl-gaz.jpg"></a>
        <div class="main-prod-vn">
            <a class="main-prod-title" href="katalog/dorozhnoe-stroitelstvo-i-blagoustrojstvo/reshetki-gazonnyie">Решетки газонные</a>
        </div>
    </div>
    <div class="line-hor"></div>
    <div style="display: none">13b449ab4e3ad65e</div>
</div>
<div class="script-l"><!--330790bb--><!--330790bb--><script async="async" src="https://w.uptolike.com/widgets/v1/zp.js?pid=lfbf405d0310f2a1f93bc096d207a44d09acd7b641" type="text/javascript"></script><script type="text/javascript">
<!--
var _acic={dataProvider:10};(function(){var e=document.createElement("script");e.type="text/javascript";e.async=true;e.src="//www.acint.net/aci.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})()
//-->
</script></div>
<div id="okompanii">
  <div style="float:left;">
     <div id="main-cont">
          <h1 class="main-title">О компании ТЕХНОЛОГИЯ</h1>
          <p>Основным направлением деятельности компании ООО "ТЕХНОЛОГИЯ" является производство и логистика железобетонных изделий, применяемых при строительстве и реконструкции объектов гражданского и промышленного назначения. Особое внимание  уделяется дорожной отрасли и благоустройству. Товары компании ТЕХНОЛОГИЯ изготовлены в строгом соответствии с российскими и международными стандартами качества. 
На все виды производимых изделий имеются сертификаты и паспорта качества. Кроме этого, помимо собственных и типовых, компания работает по индивидуальным проектам и чертежам заказчика.</p>
     </div>
  </div>
  <div id="main-imgs">
    <img src="/themes/img/main-imgs1.png">
    <img src="/themes/img/main-imgs2.png">
    <img src="/themes/img/main-imgs3.png">
  </div>
  <h2 class="pr">Преимущества работы с нами:</h2>
  <div class="pr_block">
	<div class="pr_one">
	<div class="pr_title">Качество</div>
	<p>Квалифицированное выполнение заказов любой сложности</p>
	</div>
	<div class="pr_one">
	<div class="pr_title">Оборудование</div>
	<p>Использование самого современного оборудования для производства ЖБИ</p>
	</div>
	<div class="pr_one">
	<div class="pr_title">Ассортимент</div>
	<p>Широкий ассортимент продукции, Гибкие объемы поставок</p>
	</div>
	<div class="pr_one">
	<div class="pr_title">Соблюдение сроков</div>
	<p>Строгое соблюдение сроков изготовления и доставки по адресу</p>
	</div>
	<div class="pr_one">
	<div class="pr_title">Обслуживание</div>
	<p>Опытный отдел продаж</p>
	</div>
	<div class="pr_one">
	<div class="pr_title">Опыт более 5-ти лет</div>
	<p>Более 5-ти лет на рынке ЖБИ</p>
	</div>
	</div>
        <div style=" float: left; margin: 6px 0 0 58px;">
            <h5 id="garant-title">Гарантия качества</h5>
            <img src="/themes/img/sert.png" alt="">
        </div>
</div>
<div id="o-komp-bgline"></div>
<div id="dover-block">
    <h2 class="h1">Нам доверяют:</h2>
    <div class="bx_block">
	<ul class="bxslider">
		<li><img src="/themes/img/1.png" /></li>
		<li><img src="/themes/img/2.png" /></li>
		<li><img src="/themes/img/3.png" /></li>
		<li><img src="/themes/img/4.png" /></li>
		<li><img src="/themes/img/6.png" /></li>
		<li><img src="/themes/img/7.png" /></li>
		<li><img src="/themes/img/8.png" /></li>
		<li><img src="/themes/img/9.png" /></li>
        <li><img src="/themes/img/1.png" /></li>
		<li><img src="/themes/img/2.png" /></li>
		<li><img src="/themes/img/3.png" /></li>
		<li><img src="/themes/img/4.png" /></li>
		<li><img src="/themes/img/6.png" /></li>
		<li><img src="/themes/img/7.png" /></li>
		<li><img src="/themes/img/8.png" /></li>
		<li><img src="/themes/img/9.png" /></li>
	</ul>
   </div>
</div>
<footer>
  <div class="block_head1">
    
    <div class="top_menu">
      <ul>
        <li>
          <a href="http://artgbi.ru/" title="Главная" class="tm1" rel="nofollow">Главная</a>
        </li>
        <li>
          <a href="about" title="О компании" class="tm1" rel="nofollow">О компании</a>
        </li>
        <li>
          <a href="dostavka" title="Доставка" class="tm3" rel="nofollow">Доставка</a>
        </li>
        <li>
          <a href="katalog" title="Каталог" class="tm2" rel="nofollow">Каталог</a>
        </li>
        <li>
          <a href="informacija" title="Полезная информация" class="tm4" rel="nofollow">Полезная информация</a>
        </li>
        <li>
          <a href="informacija" title="Документация" class="tm4" rel="nofollow">Документация</a>
        </li>
        <li class="last">
          <a href="kontakty" title="Контакты" class="tm5" rel="nofollow">Контакты</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="block_head2">
    <!--t: 0.1277 s q: 61 qt: 0.0131 s s: cache-->
    <div class="logo">
      <a>
        <img style="margin-top: -10px;" src="/themes/img/logo-foot.png" alt="">
      </a>
    </div>
    <div class="phone phone_mosk" style="float:right; ">
      <span class="reg">Москва и область</span>
      <div style="color: #ec5e00; margin-top: 5px;" class="roistat-phone">+7 (495) 789-39-23</div>
    </div>
    <div class="phone phone_tula">
      <span class="reg"> г. Тула </span>
      <div style="color: #ec5e00; margin-top: 5px;">+7 (4872) 71-11-73</div>
    </div>
    <div class="phone phone_klg">
      <span class="reg"> г. Калуга </span>
      <div style="color: #ec5e00; margin-top: 5px;">+7 (4842) 92-24-29</div>
    </div>
    <div class="phone phone_krasnodar">
      <span class="reg"> г. Краснодар </span>
      <div style="color: #ec5e00; margin-top: 5px;">+7 (861) 205-45-09</div>
    </div>
    <div class="phone phone_peter">
      <span class="reg"> г. Санкт-Петербург</span>
      <div style="color: #ec5e00; margin-top: 5px;">+7 (812) 603-48-09</div>
    </div>
    <div class="phone phone_novosib">
      <span class="reg"> г. Новосибирск</span>
      <div style="color: #ec5e00; margin-top: 5px;">+7 (383) 388-55-74</div>
    </div>
    <div class="phone phone_other">
      <span class="reg"> Другой </span>
      <div style="color: #ec5e00; margin-top: 5px;">8 800 550-73-09</div>
    </div>

    <div class="clear"></div>
    <p class="annot">
      Обращаем ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких условиях
      не является публичной офертой, определяемой положениями Статьи 437 (2) Гражданского кодекса Российской Федерации.
      Заполняя и отправляя любую форму на сайте, вы соглашаетесь с 
      <a href="http://artgbi.ru/assets/docs/ПОЛОЖЕНИЕ ПО ОБРАБОТКЕ И ЗАЩИТЕ ПЕРСОНАЛЬНЫХ ДАННЫХ.docx" target="_blank">политикой конфиденциальности</a>.
    </p>
    
    
    
  </div>

  <script type="text/javascript">
    $(document).ready(function () {
      if ($('#back-to-top').length) {
        var scrollTrigger = 100, // px
          backToTop = function () {
            var scrollTop = $(window).scrollTop();
            if (scrollTop > scrollTrigger) {
              $('#back-to-top').addClass('show');
            } else {
              $('#back-to-top').removeClass('show');
            }
          };
        backToTop();
        $(window).on('scroll', function () {
          backToTop();
        });
        $('#back-to-top').on('click', function (e) {
          e.preventDefault();
          $('html,body').animate({
            scrollTop: 0
          }, 700);
        });
      };
    })
  </script>

  <a id="back-to-top" title="Наверх"></a>
</footer>


<script async="async" src="https://w.uptolike.com/widgets/v1/zp.js?pid=1733471" type="text/javascript"></script>

<!-- Google Analytics -->
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o), m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-67299115-1', 'auto');
  ga('send', 'pageview');
</script>
<!-- Google Analytics -->

<!-- Yandex.Metrika -->
<script type="text/javascript">
  (function (d, w, c) {
    (w[c] = w[c] || []).push(function () {
      try {
        w.yaCounter32481345 = new Ya.Metrika({
          id: 32481345,
          clickmap: true,
          trackLinks: true,
          accurateTrackBounce: true,
          webvisor: true,
          trackHash: true
        });
      } catch (e) {}
    });

    var n = d.getElementsByTagName("script")[0],
      s = d.createElement("script"),
      f = function () {
        n.parentNode.insertBefore(s, n);
      };
    s.type = "text/javascript";
    s.async = true;
    s.src = "https://mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
    } else {
      f();
    }
  })(document, window, "yandex_metrika_callbacks");
</script>
<noscript>
  <div>
    <img src="https://mc.yandex.ru/watch/32481345" style="position:absolute; left:-9999px;" alt="" />
  </div>
</noscript>
<!-- /Yandex.Metrika -->


<script>
  $("a.zoom").fancybox({
    beforeShow: function () {
      var imgAlt = $(this.element).find("img").attr("alt");
      var dataAlt = $(this.element).data("alt");
      if (imgAlt) {
        $(".fancybox-image").attr("alt", imgAlt);
      } else if (dataAlt) {
        $(".fancybox-image").attr("alt", dataAlt);
      }
    }
  });
  $(window).load(function () {
    $('#slider').nivoSlider({
      effect: 'fade',
      controlNav: true,
      animSpeed: 1000,
      pauseTime: 6000,
      directionNav: true
    });
  });
  $(document).ready(function () {
    $('.bxslider').bxSlider({
      slideWidth: 140,
      minSlides: 7,
      maxSlides: 7,
      moveSlides: 1,
      slideMargin: 6,
      auto: true,
      pager: false
    });
  });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

<!-- Шаблон underscore для  модульного окна с выбором телефона -->
<script id="phoneChoiceTpl" type="text/template">
    <div id="phone-choice-window">
    <h5>Ваш регион: <i><%- city %></i></h5> <% if (verif) { %> <span title="Подтвердить" class="verif">Да</span> <% } %>
    
    <div class="clear"></div>
    
    <!-- <a title="Выбрать" class="choice">Выбрать регион из списка</a> -->
    
    <div class="cities-list-wrap">
    <h6 title="Открыть/скрыть список" data-id="centr">Центральный регион:</h6> <br />
    
    <ul class="cities-list centr">

<% _.each(centrArr, function (reg) { %> <li> <%- reg %> </li><% }); %>

    </ul>
    
    
   <h6 title="Открыть/скрыть список" data-id="north-west">Северо-Запад:</h6><br />
   
   
   <ul class="cities-list north-west">
   
   <% _.each(northWestArr, function (reg) { %> <li> <%- reg %> </li><% }); %>

</ul>
   
   <h6 title="Открыть/скрыть список" data-id="volga-area">Поволжье:</h6><br />
   
     <ul class="cities-list volga-area">
   
   <% _.each(volgaAreaArr, function (reg) { %> <li> <%- reg %> </li><% }); %>

</ul>
   
   
   <h6 title="Открыть/скрыть список" data-id="south">Юг:</h6><br />
   
   <ul class="cities-list south">
   
   <% _.each(sourthArr, function (reg) { %> <li> <%- reg %> </li><% }); %>

</ul>
   
   
   <h6 title="Открыть/скрыть список" data-id="siberia">Сибирь:</h6><br />
   
   <ul class="cities-list siberia">
   
   <% _.each(syberiaArr, function (reg) { %> <li> <%- reg %> </li><% }); %>

</ul>
   
   
   <h6 title="Открыть/скрыть список" data-id="far-eastern">Дальний Восток:</h6><br />
   
     <ul class="cities-list far-eastern">
   
   <% _.each(farEasternArr, function (reg) { %> <li> <%- reg %> </li><% }); %>

</ul>

   <h6 title="Открыть/скрыть список" data-id="crimea">Республика Крым:</h6><br />
   
       <ul class="cities-list crimea">
   
     <% _.each(crimeaArr, function (reg) { %> <li> <%- reg %> </li><% }); %>
     
     </ul>
   
   <h6 title="Открыть/скрыть список" data-id="north-caucasus">Северный Кавказ:</h6><br />
   
   
    <ul class="cities-list north-caucasus">
   
     <% _.each(northCaucasus, function (reg) { %> <li> <%= reg %> </li><% }); %>
     
     </ul>
   
   <h6 title="Открыть/скрыть список" data-id="ural">Урал:</h6><br />
   
   
    <ul class="cities-list ural">
   
     <% _.each(uralArr, function (reg) { %> <li> <%= reg %> </li><% }); %>
     
     </ul>
   
    </div>

    
<span title="Закрыть" class="choice-close">x</span>
    </div>
</script>

<script id="header-phone-moscow-Tpl" type="text/template">
    <div class="phone one-item">
        <span class="phn">+7 (495) 789-39-23</span>
        <span class="rezh">Режим работы: с 8.00 до 21.00</span>
    </div>

    <div class="phone one-item">
        <i>Ваш регион:</i> 
        <span title="Сменить регион" class="reg">Москва и область</span>
        <span class="phn">8 (800) 550-73-09</span>
        <span class="free-call">Звонок бесплатный по России</span>
    </div>
</script>

<script id="header-phone-klg-Tpl" type="text/template">
    <div class="phone one-item">
        <span class="phn">+7 (4842) 92-24-29</span>
        <span class="rezh">Режим работы: с 8.00 до 21.00</span>
    </div>

    <div class="phone one-item">
        <i>Ваш регион:</i> 
        <span title="Сменить регион" class="reg">Калуга и область</span>
        <span class="phn">8 (800) 550-73-09</span>
        <span class="free-call">Звонок бесплатный по России</span>
    </div>
</script>

<script id="header-phone-tula-Tpl" type="text/template">
    <div class="phone one-item">
        <span class="phn">+7 (4872) 71-11-73</span>
        <span class="rezh">Режим работы: с 8.00 до 21.00</span>
    </div>

    <div class="phone one-item">
        <i>Ваш регион:</i> 
        <span title="Сменить регион" class="reg">Тула и область</span>
        <span class="phn">8 (800) 550-73-09</span>
        <span class="free-call">Звонок бесплатный по России</span>
    </div>
</script>

<script id="header-phone-krasnodar-Tpl" type="text/template">
    <div class="phone one-item">
        <span class="phn">+7 (861) 205-45-09</span>
        <span class="rezh">Режим работы: с 8.00 до 21.00</span>
    </div>

    <div class="phone one-item">
        <i>Ваш регион:</i> 
        <span title="Сменить регион" class="reg">г. Краснодар</span>
        <span class="phn">8 (800) 550-73-09</span>
        <span class="free-call">Звонок бесплатный по России</span>
    </div>
</script>

<script id="header-phone-peter-Tpl" type="text/template">
    <div class="phone one-item">
        <span class="phn">+7 (812) 603-48-09</span>
        <span class="rezh">Режим работы: с 8.00 до 21.00</span>
    </div>

    <div class="phone one-item">
        <i>Ваш регион:</i> 
        <span title="Сменить регион" class="reg">г. Санкт-Петербург</span>
        <span class="phn">8 (800) 550-73-09</span>
        <span class="free-call">Звонок бесплатный по России</span>
    </div>
</script>

<script id="header-phone-novosib-Tpl" type="text/template">
    <div class="phone one-item">
        <span class="phn">+7 (383) 388-55-74</span>
        <span class="rezh">Режим работы: с 8.00 до 21.00</span>
    </div>

    <div class="phone one-item">
        <i>Ваш регион:</i> 
        <span title="Сменить регион" class="reg">г. Новосибирск</span>
        <span class="phn">8 (800) 550-73-09</span>
        <span class="free-call">Звонок бесплатный по России</span>
    </div>
</script>

<script id="header-phone-other-Tpl" type="text/template">

    <div class="phone one-item solo">
        <i><%= pre %></i>
        <span title="Сменить регион" class="reg"><%- city %></span>
        <span class="phn">8 (800) 550-73-09</span>
        <span class="free-call">Звонок бесплатный по России</span>
    </div>
</script>





<script id="footer-phoneTpl" type="text/template">
    <div class="phone phone_tula">
		г. Тула
		<div style="color: #ec5e00; margin-top: 5px;">+7 (4872) 71-11-73</div>
	</div>
</script>


<script src="themes/js/geo/cityChoiceV2.js"> </script> 

<!-- Проверяем авторизован ли пользователь и показываем callbackhunter только анонимам-->
<script type="text/javascript" src="//cdn.callbackhunter.com/cbh.js?hunter_code=4b279d87c855ced05c13192f0e1934e2" charset="UTF-8"></script>

<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
  (function () {
    var widget_id = 'Nx0gGtSMXk';
    var s = document.createElement('script');
    s.type = 'text/javascript';
    s.async = true;
    s.src = '//code.jivosite.com/script/widget/' + widget_id;
    var ss = document.getElementsByTagName('script')[0];
    ss.parentNode.insertBefore(s, ss);
  })();
</script>
<!-- {/literal} END JIVOSITE CODE -->

</body>

</html>