//= include/header.html
<section class="about">
	<div class="container">
		<div class="burger-menu">
			<h2>Каталог Продукции</h2>
			<div class="menu-item">
				<div class="menu-item-text">
					<p>Category1</p>
				</div>
			</div>
			<div class="menu-item">
				<div class="menu-item-text">
					<p>Category2</p>
				</div>
			</div>
			<div class="menu-item">
				<div class="menu-item-text">
					<p>Category3</p>
				</div>
			</div>
			<div class="menu-item">
				<div class="menu-item-text">
					<p>Category4</p>
				</div>
			</div>
			<div class="menu-item">
				<div class="menu-item-text">
					<p>Category5</p>
				</div>
			</div>
			<div class="menu-item">
				<p>Category6</p>
			</div>
			<div class="menu-item">
				<div class="menu-item-text">
					<p>Category7</p>
				</div>
			</div>
		</div>
		<div class="about-info">
			<h2>О Компании</h2>
			<img src="https://dummyimage.com/850x200/cdcae8/ff0000.jpg&text=Banner" alt="Banner">
			<p class=".about-text text-above">Компания <b>КРОК</b> производит и продает железобетонные изделия на протяжении пяти лет. На все виды продукции мы обладаем всеми необходимыми сертификатами и паспортами качества. Наши товары производятся в соответствии с российскими и международными стандартами качества.

			Наши железобетонные изделия широко используются в строительстве промышленных и гражданских объектов на всей территории Российской федерации. Особое внимание мы уделяем дорожной отрасли и благоустройству территорий.

			Компания <b>КРОК</b> работает не только по типовым, но и по индивидуальным заказам. Мы сделаем любые железобетонные изделия высочайшего качества согласно ваших требований.

			Лучше всего о нашей работе говорят десятки положительных отзывов и рекомендательных писем, которые мы получили от клиентов со всей России.

			Какие же <b>ПРЕИМУЩЕСТВА МЫ МОЖЕМ ПРЕДЛОЖИТЬ</b> нашим клиентам?</p>
			<div class="about-points">
				<div class="about-point">
					<img src="/css/images/marker.jpg"," alt="marker">
					<h3>Качество</h3>
					<p>Квалифицированное выполнение заказов любой сложности</p>
				</div>
				<div class="about-point">
					<img src="/css/images/marker.jpg"," alt="marker">
					<h3>Оборудование</h3>
					<p>Использование самого современного оборудования для производства ЖБИ</p>
				</div>
				<div class="about-point">
					<img src="/css/images/marker.jpg"," alt="marker">
					<h3>Ассортимент</h3>
					<p>Широкий ассортимент продукции, Гибкие объемы поставок</p>
				</div>
				<div class="about-point">
					<img src="/css/images/marker.jpg"," alt="marker">
					<h3>Обслуживание</h3>
					<p>Квалифицированные сотрудники отдела продаж</p>
				</div>
				<div class="about-point">
					<img src="/css/images/marker.jpg"," alt="marker">
					<h3>Соблюдение сроков</h3>
					<p>Строгое соблюдение сроков изготовления и доставки</p>
				</div>
				<div class="about-point">
					<img src="/css/images/marker.jpg"," alt="marker">
					<h3>Опыт более 8 лет</h3>
					<p>Более 8 лет на рынке ЖБИ</p>
				</div>
			</div>
			<p class="about-text text-under">
				Участие в выставках федерального и регионального масштаба.

				Вам важно чтобы цена была минимальной? Мы максимально все автоматизируем, чтобы эффективнее использовать свои ресурсы.

				Вам важно чтобы вас услышали? Мы постоянно совершенствуем процессы, и стараемся учитывать все ваши пожелания.

				Современные технологии в области производства, маркетинга и логистики, делает нашу компанию современной и динамически развивающейся.

				Мы делаем свое дело, чтобы Вы делали свое!
			</p>
		</div>
	</div>
</section>
//= include/footer.html