//= include/header.html
<section class="catalog">
	<div class="container">
		<div class="category-wrapper">
			<div class="category">
				<div class="category-image"><img src="https://dummyimage.com/300x200/cdcae8/ff0000.jpg&text=Cat1" alt=""></div>
				<div class="category-title">
					<p>Category 1</p>
				</div>
			</div>
			<div class="subcategories">
				<div class="subcategory">
					<div class="subcategory-image"><img src="https://dummyimage.com/100x70/cdcae8/ff0000.jpg&text=Sub1" alt=""></div>
					<div class="subcategory-title">
						<p>Subcategory 1</p>
					</div>
				</div>
				<div class="subcategory">
					<div class="subcategory-image"><img src="https://dummyimage.com/100x70/cdcae8/ff0000.jpg&text=Sub2" alt=""></div>
					<div class="subcategory-title">
						<p>Subcategory 2</p>
					</div>
				</div>
				<div class="subcategory">
					<div class="subcategory-image"><img src="https://dummyimage.com/100x70/cdcae8/ff0000.jpg&text=Sub3" alt=""></div>
					<div class="subcategory-title">
						<p>Subcategory 3</p>
					</div>
				</div>
				<div class="subcategory">
					<div class="subcategory-image"><img src="https://dummyimage.com/100x70/cdcae8/ff0000.jpg&text=Sub4" alt=""></div>
					<div class="subcategory-title">
						<p>Subcategory 4</p>
					</div>
				</div>
				<div class="subcategory">
					<div class="subcategory-image"><img src="https://dummyimage.com/100x70/cdcae8/ff0000.jpg&text=Sub5" alt=""></div>
					<div class="subcategory-title">
						<p>Subcategory 5</p>
					</div>
				</div>
				<div class="subcategory">
					<div class="subcategory-image"><img src="https://dummyimage.com/100x70/cdcae8/ff0000.jpg&text=Sub6" alt=""></div>
					<div class="subcategory-title">
						<p>Subcategory 6</p>
					</div>
				</div>
			</div>
		</div>
		<div class="category-wrapper">
			<div class="category">
				<div class="category-image"><img src="https://dummyimage.com/300x200/cdcae8/ff0000.jpg&text=Cat2" alt=""></div>
				<div class="category-title">
					<p>Category 2</p>
				</div>
			</div>
			<div class="subcategories">
				<div class="subcategory">
					<div class="subcategory-image"><img src="https://dummyimage.com/100x70/cdcae8/ff0000.jpg&text=Sub1" alt=""></div>
					<div class="subcategory-title">
						<p>Subcategory 1</p>
					</div>
				</div>
				<div class="subcategory">
					<div class="subcategory-image"><img src="https://dummyimage.com/100x70/cdcae8/ff0000.jpg&text=Sub2" alt=""></div>
					<div class="subcategory-title">
						<p>Subcategory 2</p>
					</div>
				</div>
				<div class="subcategory">
					<div class="subcategory-image"><img src="https://dummyimage.com/100x70/cdcae8/ff0000.jpg&text=Sub3" alt=""></div>
					<div class="subcategory-title">
						<p>Subcategory 3</p>
					</div>
				</div>
				<div class="subcategory">
					<div class="subcategory-image"><img src="https://dummyimage.com/100x70/cdcae8/ff0000.jpg&text=Sub4" alt=""></div>
					<div class="subcategory-title">
						<p>Subcategory 4</p>
					</div>
				</div>
				<div class="subcategory">
					<div class="subcategory-image"><img src="https://dummyimage.com/100x70/cdcae8/ff0000.jpg&text=Sub5" alt=""></div>
					<div class="subcategory-title">
						<p>Subcategory 5</p>
					</div>
				</div>
				<div class="subcategory">
					<div class="subcategory-image"><img src="https://dummyimage.com/100x70/cdcae8/ff0000.jpg&text=Sub6" alt=""></div>
					<div class="subcategory-title">
						<p>Subcategory 6</p>
					</div>
				</div>
			</div>
		</div>
		<div class="category-wrapper">
			<div class="category">
				<div class="category-image"><img src="https://dummyimage.com/300x200/cdcae8/ff0000.jpg&text=Cat3" alt=""></div>
				<div class="category-title">
					<p>Category 3</p>
				</div>
			</div>
			<div class="subcategories">
				<div class="subcategory">
					<div class="subcategory-image"><img src="https://dummyimage.com/100x70/cdcae8/ff0000.jpg&text=Sub1" alt=""></div>
					<div class="subcategory-title">
						<p>Subcategory 1</p>
					</div>
				</div>
				<div class="subcategory">
					<div class="subcategory-image"><img src="https://dummyimage.com/100x70/cdcae8/ff0000.jpg&text=Sub2" alt=""></div>
					<div class="subcategory-title">
						<p>Subcategory 2</p>
					</div>
				</div>
				<div class="subcategory">
					<div class="subcategory-image"><img src="https://dummyimage.com/100x70/cdcae8/ff0000.jpg&text=Sub3" alt=""></div>
					<div class="subcategory-title">
						<p>Subcategory 3</p>
					</div>
				</div>
				<div class="subcategory">
					<div class="subcategory-image"><img src="https://dummyimage.com/100x70/cdcae8/ff0000.jpg&text=Sub4" alt=""></div>
					<div class="subcategory-title">
						<p>Subcategory 4</p>
					</div>
				</div>
				<div class="subcategory">
					<div class="subcategory-image"><img src="https://dummyimage.com/100x70/cdcae8/ff0000.jpg&text=Sub5" alt=""></div>
					<div class="subcategory-title">
						<p>Subcategory 5</p>
					</div>
				</div>
				<div class="subcategory">
					<div class="subcategory-image"><img src="https://dummyimage.com/100x70/cdcae8/ff0000.jpg&text=Sub6" alt=""></div>
					<div class="subcategory-title">
						<p>Subcategory 6</p>
					</div>
				</div>
			</div>
		</div>
		<div class="category-wrapper">
			<div class="category">
				<div class="category-image"><img src="https://dummyimage.com/300x200/cdcae8/ff0000.jpg&text=Cat4" alt=""></div>
				<div class="category-title">
					<p>Category 4</p>
				</div>
			</div>
			<div class="subcategories">
				<div class="subcategory">
					<div class="subcategory-image"><img src="https://dummyimage.com/100x70/cdcae8/ff0000.jpg&text=Sub1" alt=""></div>
					<div class="subcategory-title">
						<p>Subcategory 1</p>
					</div>
				</div>
				<div class="subcategory">
					<div class="subcategory-image"><img src="https://dummyimage.com/100x70/cdcae8/ff0000.jpg&text=Sub2" alt=""></div>
					<div class="subcategory-title">
						<p>Subcategory 2</p>
					</div>
				</div>
				<div class="subcategory">
					<div class="subcategory-image"><img src="https://dummyimage.com/100x70/cdcae8/ff0000.jpg&text=Sub3" alt=""></div>
					<div class="subcategory-title">
						<p>Subcategory 3</p>
					</div>
				</div>
				<div class="subcategory">
					<div class="subcategory-image"><img src="https://dummyimage.com/100x70/cdcae8/ff0000.jpg&text=Sub4" alt=""></div>
					<div class="subcategory-title">
						<p>Subcategory 4</p>
					</div>
				</div>
				<div class="subcategory">
					<div class="subcategory-image"><img src="https://dummyimage.com/100x70/cdcae8/ff0000.jpg&text=Sub5" alt=""></div>
					<div class="subcategory-title">
						<p>Subcategory 5</p>
					</div>
				</div>
				<div class="subcategory">
					<div class="subcategory-image"><img src="https://dummyimage.com/100x70/cdcae8/ff0000.jpg&text=Sub6" alt=""></div>
					<div class="subcategory-title">
						<p>Subcategory 6</p>
					</div>
				</div>
			</div>
		</div>
		<div class="category-wrapper">
			<div class="category">
				<div class="category-image"><img src="https://dummyimage.com/300x200/cdcae8/ff0000.jpg&text=Cat5" alt=""></div>
				<div class="category-title">
					<p>Category 5</p>
				</div>
			</div>
			<div class="subcategories">
				<div class="subcategory">
					<div class="subcategory-image"><img src="https://dummyimage.com/100x70/cdcae8/ff0000.jpg&text=Sub1" alt=""></div>
					<div class="subcategory-title">
						<p>Subcategory 1</p>
					</div>
				</div>
				<div class="subcategory">
					<div class="subcategory-image"><img src="https://dummyimage.com/100x70/cdcae8/ff0000.jpg&text=Sub2" alt=""></div>
					<div class="subcategory-title">
						<p>Subcategory 2</p>
					</div>
				</div>
				<div class="subcategory">
					<div class="subcategory-image"><img src="https://dummyimage.com/100x70/cdcae8/ff0000.jpg&text=Sub3" alt=""></div>
					<div class="subcategory-title">
						<p>Subcategory 3</p>
					</div>
				</div>
				<div class="subcategory">
					<div class="subcategory-image"><img src="https://dummyimage.com/100x70/cdcae8/ff0000.jpg&text=Sub4" alt=""></div>
					<div class="subcategory-title">
						<p>Subcategory 4</p>
					</div>
				</div>
				<div class="subcategory">
					<div class="subcategory-image"><img src="https://dummyimage.com/100x70/cdcae8/ff0000.jpg&text=Sub5" alt=""></div>
					<div class="subcategory-title">
						<p>Subcategory 5</p>
					</div>
				</div>
				<div class="subcategory">
					<div class="subcategory-image"><img src="https://dummyimage.com/100x70/cdcae8/ff0000.jpg&text=Sub6" alt=""></div>
					<div class="subcategory-title">
						<p>Subcategory 6</p>
					</div>
				</div>
			</div>
		</div>
		<div class="category-wrapper">
			<div class="category">
				<div class="category-image"><img src="https://dummyimage.com/300x200/cdcae8/ff0000.jpg&text=Cat6" alt=""></div>
				<div class="category-title">
					<p>Category 6</p>
				</div>
			</div>
			<div class="subcategories">
				<div class="subcategory">
					<div class="subcategory-image"><img src="https://dummyimage.com/100x70/cdcae8/ff0000.jpg&text=Sub1" alt=""></div>
					<div class="subcategory-title">
						<p>Subcategory 1</p>
					</div>
				</div>
				<div class="subcategory">
					<div class="subcategory-image"><img src="https://dummyimage.com/100x70/cdcae8/ff0000.jpg&text=Sub2" alt=""></div>
					<div class="subcategory-title">
						<p>Subcategory 2</p>
					</div>
				</div>
				<div class="subcategory">
					<div class="subcategory-image"><img src="https://dummyimage.com/100x70/cdcae8/ff0000.jpg&text=Sub3" alt=""></div>
					<div class="subcategory-title">
						<p>Subcategory 3</p>
					</div>
				</div>
				<div class="subcategory">
					<div class="subcategory-image"><img src="https://dummyimage.com/100x70/cdcae8/ff0000.jpg&text=Sub4" alt=""></div>
					<div class="subcategory-title">
						<p>Subcategory 4</p>
					</div>
				</div>
				<div class="subcategory">
					<div class="subcategory-image"><img src="https://dummyimage.com/100x70/cdcae8/ff0000.jpg&text=Sub5" alt=""></div>
					<div class="subcategory-title">
						<p>Subcategory 5</p>
					</div>
				</div>
				<div class="subcategory">
					<div class="subcategory-image"><img src="https://dummyimage.com/100x70/cdcae8/ff0000.jpg&text=Sub6" alt=""></div>
					<div class="subcategory-title">
						<p>Subcategory 6</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
//= include/footer.html