//= include/header.html
<section class="contacts">
	<div class="container">
		<div class="burger-menu">
			<h2>Каталог Продукции</h2>
			<div class="menu-item">
				<div class="menu-item-text">
					<p>Category1</p>
				</div>
			</div>
			<div class="menu-item">
				<div class="menu-item-text">
					<p>Category2</p>
				</div>
			</div>
			<div class="menu-item">
				<div class="menu-item-text">
					<p>Category3</p>
				</div>
			</div>
			<div class="menu-item">
				<div class="menu-item-text">
					<p>Category4</p>
				</div>
			</div>
			<div class="menu-item">
				<div class="menu-item-text">
					<p>Category5</p>
				</div>
			</div>
			<div class="menu-item">
				<p>Category6</p>
			</div>
			<div class="menu-item">
				<div class="menu-item-text">
					<p>Category7</p>
				</div>
			</div>
		</div>
		<div class="wrapper">
			<h2>Контакты</h2>
			<div class="adress">
				<h3>Адрес</h3>
				<p>Москва, ул. Планерная, д. 12 корпус 1</p>
			</div>
			
			<div class="telephone">
				<h3>Телефон</h3>
				<p>+7 (985) 998-06-92</p>
			</div>
			
			<div class="email">
				<h3>E-mail</h3>
				<p>info@krok-gbi.ru</p>
			</div>
			
			<div class="person">
				<h3>Контактное лицо</h3>
				<p>Меренков Алексей</p>
			</div>
		</div>	
	</div>
</section>
//= include/footer.html