//= include/header.html
<section class="categories">
	<h1>Категории</h1>
	<div class="container">
		<div class="category" id="category1">
			<h3>Category1</h3>
			<img src="https://dummyimage.com/250x200/cdcae8/ff0000.jpg&text=Cat1"," alt="Category 1 image">
			<ul>
				<li><a href="subcategory1">Subcategory 1</a></li>
				<li><a href="subcategory2">Subcategory 2</a></li>
				<li><a href="subcategory3">Subcategory 3</a></li>
				<li><a href="subcategory4">Subcategory 4</a></li>
				<li><a href="subcategory5">Subcategory 5</a></li>
				<li><a href="subcategory6">Subcategory 6</a></li>
			</ul>
		</div>
		<div class="category" id="category2">
			<h3>Category2</h3>
			<img src="https://dummyimage.com/250x200/cdcae8/ff0000.jpg&text=Cat2"," alt="Category 2 image">
			<ul>
				<li><a href="subcategory1">Subcategory 1</a></li>
				<li><a href="subcategory2">Subcategory 2</a></li>
				<li><a href="subcategory3">Subcategory 3</a></li>
				<li><a href="subcategory4">Subcategory 4</a></li>
				<li><a href="subcategory5">Subcategory 5</a></li>
				<li><a href="subcategory6">Subcategory 6</a></li>
			</ul>
		</div>
		<div class="category" id="category3">
			<h3>Category3</h3>
			<img src="https://dummyimage.com/250x200/cdcae8/ff0000.jpg&text=Cat3"," alt="Category 3 image">
			<ul>
				<li><a href="subcategory1">Subcategory 1</a></li>
				<li><a href="subcategory2">Subcategory 2</a></li>
				<li><a href="subcategory3">Subcategory 3</a></li>
				<li><a href="subcategory4">Subcategory 4</a></li>
				<li><a href="subcategory5">Subcategory 5</a></li>
				<li><a href="subcategory6">Subcategory 6</a></li>
			</ul>
		</div>
		<div class="category" id="category4">
			<h3>Category4</h3>
			<img src="https://dummyimage.com/250x200/cdcae8/ff0000.jpg&text=Cat4"," alt="Category 4 image">
			<ul>
				<li><a href="subcategory1">Subcategory 1</a></li>
				<li><a href="subcategory2">Subcategory 2</a></li>
				<li><a href="subcategory3">Subcategory 3</a></li>
				<li><a href="subcategory4">Subcategory 4</a></li>
				<li><a href="subcategory5">Subcategory 5</a></li>
				<li><a href="subcategory6">Subcategory 6</a></li>
			</ul>
		</div>
		<div class="category" id="category5">
			<h3>Category5</h3>
			<img src="https://dummyimage.com/250x200/cdcae8/ff0000.jpg&text=Cat5"," alt="Category 5 image">
			<ul>
				<li><a href="subcategory1">Subcategory 1</a></li>
				<li><a href="subcategory2">Subcategory 2</a></li>
				<li><a href="subcategory3">Subcategory 3</a></li>
				<li><a href="subcategory4">Subcategory 4</a></li>
				<li><a href="subcategory5">Subcategory 5</a></li>
				<li><a href="subcategory6">Subcategory 6</a></li>
			</ul>
		</div>
	</div>
</section>
<section class="info">
	<div class="container">
		<div class="info-text">
			<h2>О Компании "Крок"</h2>
			<p>Основным направлением деятельности компании ООО "КРОК" является производство и логистика железобетонных изделий, применяемых при строительстве и реконструкции объектов гражданского и промышленного назначения. Особое внимание уделяется дорожной отрасли и благоустройству. Товары компании КРОК изготовлены в строгом соответствии с российскими и международными стандартами качества. На все виды производимых изделий имеются сертификаты и паспорта качества. Кроме этого, помимо собственных и типовых, компания работает по индивидуальным проектам и чертежам заказчика.</p>
		</div>
		<div class="info-subheading">
			<span>Преимущества работы с нами</span>
		</div>
		<div class="info-advantages">
			<div class="info-points">
				<div class="point">
					<img src="/img/pr_one.png"," alt="galochka">
					<h3>Качество</h3>
					<p>Квалифицированное выполнение заказов любой сложности</p>
				</div>
				<div class="point">
					<img src="/img/pr_one.png"," alt="galochka">
					<h3>Оборудование</h3>
					<p>Использование самого современного оборудования для производства ЖБИ</p>
				</div>
				<div class="point">
					<img src="/img/pr_one.png"," alt="galochka">
					<h3>Ассортимент</h3>
					<p>Широкий ассортимент продукции, Гибкие объемы поставок</p>
				</div>
				<div class="point">
					<img src="/img/pr_one.png"," alt="galochka">
					<h3>Обслуживание</h3>
					<p>Квалифицированные сотрудники отдела продаж</p>
				</div>
				<div class="point">
					<img src="/img/pr_one.png"," alt="galochka">
					<h3>Соблюдение сроков</h3>
					<p>Строгое соблюдение сроков изготовления и доставки</p>
				</div>
				<div class="point">
					<img src="/img/pr_one.png"," alt="galochka">
					<h3>Опыт более 8 лет</h3>
					<p>Более 8 лет на рынке ЖБИ</p>
				</div>
			</div>
		</div>
		<div class="info-photos">
			<div class="photos">
				<img src="/img/main-page-photo1.jpg" alt="Photo 1">
				<img src="https://dummyimage.com/200x150/cdcae8/ff0000.jpg&text=Photo 2" alt="Photo 2">
				<img src="https://dummyimage.com/200x150/cdcae8/ff0000.jpg&text=Photo 3" alt="Photo 3">
			</div>
		</div>
	</div>
</section>
//= include/footer.html