<!DOCTYPE html>
<html lang="ru">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>КРОК ЖБИ материалы высокого качества</title>
	<meta name="description" content="Здесь вы можете купить ЖБИ материалы наилучшего качества по самым низким ценам!">

	<!-- favicom -->
	<link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
	<link rel="manifest" href="/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<!-- ------------------- -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="/js/main.min.js"></script>

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/main.min.css">

</head>
<body>
	<header>
		<div class="header-top">
			<div class="header-logo">
				<img src="/css/images/logo.png" alt="header logo image">
			</div>
			<div class="header-form">
				<form action="">
					<label for="search" class="header-form-search">
						<input type="text" id="search">
					</label>
				</form>
			</div>
			<div class="header-contacts-left">
				<div class="tel tel-left">
					<a href="tel:+79991234567">
						+7 (999) 123-45-67
					</a>
				</div>
				<div class="header-text worktime">
					<span>Режим работы с 08:00 до 22:00</span>	
				</div>
			</div>
			<div class="header-contacts-right">
				<div class="tel tel-right">
					<a href="tel:+79991234567">
						+7 (999) 123-45-67
					</a>
				</div>
				<div class="region header-text">
					<p>Ваш регион
						<u>
							Москва и Московская область 
						</u>	
					</p>
				</div>
			</div>
		</div>

		<div class="header-slider">
			<div class="slider-wrapper">
				<ul class="rslides">
					<li><img src="https://dummyimage.com/1200x250/cdcae8/ff0000.jpg&text=slide1" alt=""></li>
					<li><img src="https://dummyimage.com/1200x250/cdcae8/ff0000.jpg&text=slide2" alt=""></li>
					<li><img src="https://dummyimage.com/1200x250/cdcae8/ff0000.jpg&text=slide3" alt=""></li>
					<li><img src="https://dummyimage.com/1200x250/cdcae8/ff0000.jpg&text=slide4" alt=""></li>
				</ul>
			</div>
		</div>

		<nav class="header-menu">
				<ul>
					<li class="nav-tab">
						<div>
							<p>Главная</p>
						</div>
					</li>
					<li class="nav-tab">
						<div>
							О нас
						</div>
					</li>
					<li class="nav-tab">
						<div>
							Каталог
						</div>
					</li>
					<li class="nav-tab">
						<div>
							Информация
						</div>
					</li>
					<li class="nav-tab">
						<div>
							Контакты
						</div>
					</li>
				</ul>
		</nav>
	</header>